{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>{% block title %} Bulkhead {% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
           rel="stylesheet"
           integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
           crossorigin="anonymous">
    <style>
        .wrapper { display: grid; grid-template-columns: repeat(3, 1fr); column-gap: 10px; row-gap: 1em; }
    </style>
</head>
<body style="font-family: Bahnschrift">
<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
      <a class="navbar-brand"><b><a href="{% url 'main' %}" style="color: black; margin-right: 5px; text-decoration: none;">BulkHead</a></b></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'main' %}">Главная страница</a>
        </li>
        <li>
            {% if user.is_superuser %}
            <a class="nav-link active" aria-current="page" href="{% url 'admin:index' %}">Окно администрирования</a>
            {% endif %}
        </li>
      <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'main' %}">О нас</a>
        </li>
      <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'service' %}">Наши услуги</a>
        </li>
      <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'myaccount' %}">Личный кабинет</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
</header>
<div class="select2-container--above">
</div>
{% block content %}
{% endblock %}
</body>
</html>