{% extends 'base.html' %}
{% block title %} Запись на услугу {% endblock %}
{% block content %}

    <form action="{% url 'entrollment' %}" method="POST">
    {% csrf_token %}
        <div class="calendarbox" style="margin-top: 150px">
            <div align="center">
                <table style="margin-bottom: 50px">{{ form.as_table }} </table>
                <button class="btn btn-outline-primary" type="submit">Записаться на услугу</button>
                <a href="{% url 'main' %}"><button class="btn btn-outline-primary">Отмена</button></a>
            </div>

        </div>
    </form>
{% endblock %}