{% extends 'base.html' %}

{% block title %} Регистрация {% endblock %}

{% block content %}
    <div class="calendarbox">
        <div align="center">
            <h2>Регистрация</h2>
            <form method="post">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
             <button class="btn btn-outline-primary" type="submit">Подтвердить</button>
             <form action="{% url 'main' %}"><button class="btn btn-outline-primary"> Отмена </button></form>
            <form action="{% url 'login' %}"><button class="btn btn-outline-secondary"> Есть аккаунт? Войдите </button></form>
        </form>
    </form>
        </div></div>
{% endblock %}
